.wrap {

  .test {
    display: inline-block;
    top: 300px;
    // width: 20px;
    height: 20px;
    border: 1px solid rgba($color: #000, $alpha: .5);
  }

  .top {
    background-color: rosybrown;
  }

  .btns {
    display: inline-flex;
    align-items: center;
  }

}
