.parent-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
}

.margin-left-10 {
  margin-left: 10px;
}

.transition {
  transition: transform .5s;
}

.parent-wrap:hover .children {
  visibility: visible;
}

.parent-wrap:hover .transition {
  transform: rotate(180deg);
}

.children {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  visibility: hidden;
  /* width: 100px;
  height: 40px; */
}


